.btn {
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;

  min-width: var(--button-width, 38px);
  min-height: var(--button-height, 38px);
  padding: 0.5rem 1.25rem;
  margin: 0.75px;

  font-size: var(--text-md);
  font-weight: var(--font-medium);
  letter-spacing: 1px;

  cursor: pointer;
  user-select: none;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 0.375rem;

  transition: ease-in-out 0.2s;

  background: var(--btn-background, white);
  color: var(--btn-text-color, var(--color-gray-600));

  &:hover {
    background: var(--btn-active-background, var(--btn-background, var(--color-gray-50)));
    color: var(--btn-active-text-color, var(--btn-text-color, var(--color-gray-600)));
    opacity: 0.85;
  }

  &:active {
    opacity: 0.65;
    transform: translateY(5px);
  }

  .btn-icon {
    width: 16px;
    height: 16px;
  }

  .btn-icon + .btn-text:not(:empty) {
    margin-left: 8px;
  }
}

.btn {
  &.block {
    width: 100%;
  }

  &.btn-xxs {
    --button-width: 22px;
    --button-height: 22px;

    padding: 0;
    font-size: var(--text-xs);
  }

  &.btn-xs {
    --button-width: 30px;
    --button-height: 30px;

    padding: 0.1rem 0.65rem;
    font-size: var(--text-xs);
  }

  &.btn-sm {
    --button-width: 34px;
    --button-height: 34px;

    padding: 0.125rem 0.75rem;
    font-size: var(--text-xs);
  }

  &.btn-lg {
    --button-width: 42px;
    --button-height: 42px;

    padding: 0.5rem 1rem;
    font-size: var(--text-md);
  }
}

@each $color in getComponentColors() {
  $name: getItem($color, name);

  .btn {
    &.btn-$(name) {
      background: getItem($color, color);
      color: getItem($color, text);

      &.active {
        opacity: 0.85;
      }
    }

    &.btn-$(name)-outline {
      color: $(getItem($color, 400));
      border: 1px solid $(getItem($color, 400));

      &:hover,
      &:active,
      &.active {
        background: getItem($color, 50);
      }
    }

    &.btn-$(name)-outline-fill {
      color: $(getItem($color, 400));
      border: 1px solid $(getItem($color, 400));

      &:hover {
        background: getItem($color, 50);
      }

      &:active,
      &.active {
        background: getItem($color, color);
        color: getItem($color, text);
      }
    }

    &.btn-$(name)-text {
      color: $(getItem($color, 400));

      &:hover,
      &:active,
      &.active {
        background: getItem($color, 50);
      }
    }

    &.btn-$(name)-text-fill {
      color: $(getItem($color, 400));

      &:hover {
        background: getItem($color, 50);
      }

      &:active,
      &.active {
        background: getItem($color, color);
        color: getItem($color, text);
      }
    }

    &.btn-$(name)-icon {
      color: $(getItem($color, 400));

      &:hover,
      &:active,
      &.active {
        background: getItem($color, 50);
      }
    }
  }
}
