.column {
  padding: 0.75rem 0.5rem 0.125rem;
  border-top: 1px dashed var(--color-gray-50);
  border-bottom: 1px dashed var(--color-gray-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &.active {
    background-color: var(--color-gray-100);
  }

  .name {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    color: var(--color-gray-800);
  }

  .type {
    font-size: var(--text-xs);
    font-weight: var(--font-normal);
    color: var(--color-gray-500);
    margin-left: 0.75rem;
  }
}
