.accordion-item-group {
  width: 100%;
  border-radius: 0.5rem;

  .accordion-item {
    width: 100%;
    padding: 0.85rem 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
    user-select: none;
    cursor: pointer;
    color: var(--accordion-group-item-color, var(--color-gray-600));

    .accordion-item-icon {
      width: 16px;
      height: 16px;
      object-fit: cover;
    }

    .accordion-item-text {
      font-size: var(--text-md);
      font-weight: var(--font-medium);
    }

    .accordion-item-group-icon-container {
      margin-left: auto;

      .accordion-item-group-icon {
        width: 14px;
        height: 14px;
      }
    }

    &:hover {
      color: var(--accordion-group-item-hover-color, var(--color-gray-500));
    }
  }

  &.expanded {
    .accordion-item {
      color: var(--accordion-group-item-expanded-color, var(--color-gray-700));
    }
  }

  .accordion-group-items {
    .accordion-item {
      color: var(--accordion-item-color, var(--color-gray-600));
    }

    t-accordion-item {
      position: relative;
      width: calc(100% - 0.5rem);
      opacity: 0;

      @keyframes sliding-y-animation {
        0% {
          opacity: 0;
          transform: translateY(-15px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @for $i from 1 to 25 {
        &:nth-child($i) {
          animation: sliding-y-animation 0.4s ease-in-out 0.3333s;
          animation-fill-mode: forwards;
          animation-delay: calc($i * 0.05s);
        }
      }
    }
  }
}
