.object-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--object-card-width, 240px), 1fr));
  grid-gap: 1rem;

  .card-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 0.75rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--color-gray-100);
    box-shadow: 4px 4px 4px -3.5px var(--color-gray-100);

    .card-view-key {
      vertical-align: middle;
      text-align: left;

      font-size: var(--text-xs);
      font-weight: var(--font-bold);
      color: var(--color-gray-500);
    }

    .card-view-value {
      vertical-align: middle;
      text-align: right;

      font-size: var(--text-sm);
      font-weight: var(--font-normal);
      color: var(--color-gray-700);
    }
  }
}
