.accordion-item {
  width: 100%;
  padding: 0.85rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  user-select: none;
  cursor: pointer;
  color: var(--accordion-item-color, var(--color-gray-600));

  .accordion-item-icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }

  .accordion-item-text {
    font-size: var(--text-md);
    font-weight: var(--font-normal);
  }

  &:hover {
    color: var(--accordion-item-hover-color, var(--color-gray-500));
  }

  &.active {
    background-color: var(--color-primary-50);
    color: var(--accordion-item-active-color, var(--color-primary-500));
  }
}
