.select {
  width: 100%;
  display: block;
  position: relative;

  .select-reference {
    cursor: pointer;
    user-select: none;

    .select-btn {
      width: 14px;
      height: 14px;
      color: var(--color-gray-500);
    }
  }
}
