@mixin input($input) {
  .$(input) {
    width: 100%;
    height: 38px;
    outline: none;
    border-radius: 0.375rem;
    padding: 8px 10px;
    font-size: var(--text-sm);
    font-weight: var(--font-normal);
    color: var(--color-gray-600);
    border: 1px solid var(--color-gray-200);

    &:focus-within {
      border: 1px solid var(--color-gray-200);
      box-shadow: 0 0 0 3px var(--color-gray-100);
    }

    &:hover {
      border: 1px solid var(--color-gray-300);
    }

    &.disabled,
    &:disabled,
    input:disabled {
      background-color: var(--color-gray-50);
      color: var(--color-gray-600);
      cursor: not-allowed;
      pointer-events: none;
    }

    &.sm {
      height: 34px;
      font-size: var(--text-xs);
    }

    &.lg {
      height: 42px;
      font-size: var(--text-md);
    }

    &.auto {
      height: auto;
    }

    &.success {
      border-color: var(--color-success);
    }

    &.error {
      border-color: var(--color-danger);
    }

    &.info {
      border-color: var(--color-info);
    }

    &.warning {
      border-color: var(--color-warning);
    }

    @content;
  }
}

@mixin input-label-container($input) {
  .$(input)-label-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    user-select: none;

    .$(input)-label {
      font-size: var(--text-xs);
      font-weight: var(--font-bold);
      color: var(--color-gray-500);

      &.required {
        &:after {
          content: '*';
          margin-left: 0.25rem;
          color: var(--color-danger);
        }
      }
    }

    .$(input)-tag {
      font-size: var(--text-xs);
      font-weight: var(--font-bold);
      color: var(--color-gray-700);
    }

    @content;
  }
}

@mixin scrollbar($size: 5px, $margin: 0) {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    margin: $margin;
    border-radius: $size 0 0 $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $size 0 0 $size;
    background-color: var(--color-gray-200);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-300);
  }
}

@mixin click() {
  cursor: pointer;
  user-select: none;
  opacity: 1;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.75;
  }
}
