@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300..600&display=swap');
@import 'tailwindcss/base';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lexend', sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.25px;
  font-weight: var(--font-normal);
  font-size: var(--text-sm);
  color: var(--color-gray-600);
}

button {
  background: none;
}

:root {
  @each $color in getColors() {
    @each $shade in getColors($color) {
      @if $shade == DEFAULT {
        --$(prefix)color-$(color): getColors($color, $shade);
      } @else  {
        --$(prefix)color-$(color)-$(shade): getColors($color, $shade);
      }
    }
  }

  --font-normal: 300;
  --font-medium: 400;
  --font-bold: 500;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
}
