.radio {
  display: inline-flex;
  vertical-align: top;
  align-items: center;

  .radio-label {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    user-select: none;
    font-size: var(--text-sm);
    font-weight: var(--font-normal);
    color: var(--color-gray-500);

    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: var(--radio-size, 1.25rem);
      height: var(--radio-size, 1.25rem);
      cursor: pointer;
      border: none;
      border-radius: 50% !important;
      border: 1px solid var(--color-gray-200);
      background-color: white;
    }

    span {
      margin-left: 0.5rem;
    }

    &.sm {
      --radio-size: 1rem;
    }

    &.lg {
      --radio-size: 1.5rem;
    }
  }

  .radio-input {
    display: none;

    &:checked + .radio-label {
      &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--radio-color, var(--color-gray-200));
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFFFFF'/%3e%3c/svg%3e");
      }
    }
  }
}

@each $color in getComponentColors() {
  $name: getItem($color, name);

  .radio-$(name) {
    .radio-input:checked + .radio-label::before {
      --radio-color: getItem($color, color);
    }
  }
}
