.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  backdrop-filter: brightness(0.5);
  z-index: 10000;

  &.inline {
    flex-direction: row;
  }

  .loading-icon {
    width: 48px;
    height: 48px;
  }

  .loading-text {
    text-align: center;
    color: white;
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
  }
}
