@import 'tippy.js/themes/light.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/dist/svg-arrow.css';

.tippy-box {
  box-shadow:
    0 0 20px 4px var(--color-gray-100),
    0 4px 80px -8px var(--color-gray-200),
    0 4px 4px -2px var(--color-gray-50) !important;

  .tippy-content {
    padding: 0.375rem 1rem;
    background: white;
    border-radius: 0.375rem;
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    color: var(--color-gray-600);
  }

  .tippy-svg-arrow {
    svg {
      fill: white;
      transform: rotate(180deg);
    }
  }
}
