.text-field {
  display: block;

  @include input-label-container(text-field) {
    @include input-label(text-field);
    @include input-tag(text-field);
  }

  .text-field-input-container {
    position: relative;

    @include input(text-field-input) {
      &.text-field-sm {
        height: 34px;
        font-size: var(--text-xs);
      }

      &.text-field-lg {
        height: 42px;
        font-size: var(--text-md);
      }

      &.success {
        border-color: var(--color-success);
      }

      &.error {
        border-color: var(--color-danger);
      }

      &.info {
        border-color: var(--color-info);
      }

      &.warning {
        border-color: var(--color-warning);
      }
    }

    .text-field-input::placeholder {
      color: var(--color-gray-400);
    }

    textarea {
      &.text-field-input {
        height: auto;
      }
    }

    .pre-text,
    .post-text {
      min-width: 40px;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-gray-600);
    }

    .post-text {
      right: 0;
    }

    .pre-text + .text-field-input {
      padding-left: 40px;
    }

    .post-text + .text-field-input {
      padding-right: 40px;
    }
  }

  .text-field-helper-text,
  .text-field-message {
    margin-top: 0.25rem;
    font-weight: var(--font-medium);
    font-size: var(--text-xs);
    color: var(--color-gray-800);
  }

  .message-success {
    color: var(--color-success);
  }

  .message-info {
    color: var(--color-info);
  }

  .message-error {
    color: var(--color-danger);
  }

  .message-warning {
    color: var(--color-warning);
  }

  .textFieldErrorsContainer {
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
  }
}
