.entity-container {
  position: relative;
  width: 100%;
  height: 200vh;

  .entity-relation {
    position: absolute;
    z-index: 1;
    --entity-relation-border-width: 1px;
    --entity-relation-border-style: dashed;
    --entity-relation-border-color: var(--color-gray-600);

    &.active {
      z-index: 2;
      --entity-relation-border-width: 1px;
      --entity-relation-border-style: solid;
      --entity-relation-border-color: var(--color-primary);
    }

    &.bbr {
      border-bottom: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-right: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-radius: 0 0 0.5rem 0;
    }

    &.bbl {
      border-bottom: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-left: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-radius: 0 0 0 0.5rem;
    }

    &.btl {
      border-top: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-left: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-radius: 0.5rem 0 0 0;
    }

    &.btr {
      border-top: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-right: var(--entity-relation-border-width) var(--entity-relation-border-style)
        var(--entity-relation-border-color);
      border-radius: 0 0.5rem 0 0;
    }
  }
}
